.site-hero {
  align-items: end;
  background-color: hsl(0 0% 0%);
  background-image: url('../images/hero.jpg');
  background-size: cover;
  block-size: 600px;
  color: hsl(var(--clr-white));
  display: flex;
}
