.match-stats {
  margin-block-start: 1rem;
  grid-area: stats;

  &::before {
    background-color: hsl(var(--clr-red));
    block-size: 0.25rem;
    content: '';
    display: block;
    inline-size: 3rem;
  }

  h4,
  dt,
  strong {
    font-weight: 400;
  }

  ul {
    padding-inline-start: 0;
  }
}

