.next-match {
  display: grid;
  margin-block-end: 3rem;
  row-gap: 0.25rem;
  text-transform: uppercase;

  small {
    align-items: center;
    column-gap: 0.5em;
    display: flex;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1;

    &::after {
      background-color: hsl(var(--clr-red));
      block-size: 10px;
      content: '';
      inline-size: 16ch;
      transform: translateY(1px);
    }
  }

  p {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
    margin-block-start: 0.25rem;
    word-break: break-word;
  }

  span {
    font-size: 1.25rem;
    line-height: 1.25;
  }
}
