# BEGIN CompressX
# Instruksjonene (linjene) mellom "BEGIN CompressX" and "END CompressX" er
# dynamisk generert og bør bare endres via WordPress-filtre.
# Enhver endring av instruksjonene mellom disse markørene vil bli overskrevet.

# END CompressX