/*------------------------------------*\
  # GRID
\*------------------------------------*/

[class*='mou-site-wrap'] {
	--kb-site-wrap-width: 80rem;
}

.mou-site-wrap {
	margin-inline: auto;
	max-inline-size: var(--kb-site-wrap-width);
}

.mou-site-wrap--padding {
	max-inline-size: calc(var(--kb-site-wrap-width) + 2rem);
	padding-inline: 1rem;
}
