/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.c-navigation {
	background-color: transparentize($c-black, 0.1);
	block-size: 100%;
	inline-size: 100%;
	inset-block-start: 0;
	inset-inline-start: 0;

	&__item {
		display: block;
		margin-block-end: 0;
		padding-block-end: 3.125rem;
		padding-block-start: 0.3125rem;
	}
}

/** WP BEM MENU **/

.c-nav {
	column-gap: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16.25rem, 1fr));
	margin-block-end: 0;
	margin-inline-start: 0;
	row-gap: 0.5rem;

	&__item {
		padding-block: 0.3125rem;
	}

	&__sub-menu {
		margin-inline-start: 0;
	}

	&__item,
	&__sub-menu__item {
		display: contents;
		list-style: none;
		margin-inline-start: 0;
	}

	&__link,
	&__sub-menu__link {
		@include font('Medium');
		color: $c-white;
		font-size: 1.25rem;
		line-height: 1.5;
		text-decoration: none;

		&:hover {
			color: lighten($c-black, 65%);
		}
	}
}
