/*------------------------------------*\
  # NAVIGATION
\*------------------------------------*/

.c-navigation {
	background-color: var(--c-black);
	block-size: 100%;
	inline-size: 100%;
	inset-block-start: 0;
	inset-inline-start: 0;
	opacity: 90%;
}

.c-navigation__item {
	display: block;
	margin-block-end: 0;
	padding-block-end: 3.125rem;
	padding-block-start: 0.3125rem;
}

/** WP BEM MENU **/

.c-nav {
	column-gap: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16.25rem, 1fr));
	margin-block-end: 0;
	margin-inline-start: 0;
	row-gap: 0.5rem;
}

.c-nav__item {
	padding-block: 0.3125rem;
}

.c-nav__sub-menu {
	margin-inline-start: 0;
}

.c-nav__item,
.c-nav__sub-menu__item {
	display: contents;
	list-style: none;
	margin-inline-start: 0;
}

.c-nav__link,
.c-nav__sub-menu__link {
	@include font('Medium');
	color: var(--c-white);
	font-size: 1.25rem;
	line-height: 1.5;
	text-decoration: none;

	&:hover {
		color: color-mix(in srgb, white 65%, var(--c-black));
	}
}
