/*------------------------------------*\
  # PLAYERS
\*------------------------------------*/

.c-players {
  &--featured {
    &__link {
      transform: scale(1);
      transition: transform 200ms;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
