/*------------------------------------*\
  # POST
\*------------------------------------*/
.wysiwyg {
	h1 {
		font-family: var(--bold);
		line-height: 1.2;
	}

	h2 {
		font-family: var(--bold);
		line-height: 1.3;
	}

	h3 {
		font-family: var(--bold);
	}

	h4,
	h5,
	h6 {
		font-family: var(--regular);
	}

	p,
	ul,
	ol {
		font-family: var(--light);
		font-size: 1rem;
		line-height: 1.6;
	}

	b,
	strong {
		font-family: var(--regular);
	}

	a {
		text-decoration: underline;
		text-decoration-thickness: 0.0625rem;
		text-underline-offset: 0.125rem;
		transition: text-decoration 180ms ease;

		&:hover {
			border-bottom: 0;
			text-decoration-thickness: 0.125rem;
		}
	}
}

.single .wysiwyg a {
	color: var(--c-brand-red);
}
