/*------------------------------------*\
  # SITE
\*------------------------------------*/

.c-site {
  &--bgcolor {
    background-color: $c-grey;
  }
}

.home h2 {
  font-family: 'Pacaembu Black';
  font-size: 2em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
