/*------------------------------------*\
  # WORDPRESS CORE CLASSES
  * Ref: https://codex.wordpress.org/CSS#WordPress_Generated_Classes
\*------------------------------------*/

$color-white: #fff;
$color-pale-grey: #f0f0f0;
$color-black-60: rgba(0, 0, 0, 0.6);
$color-dim-navy: #21759b;

.alignnone {
  margin-block-end: 0;
  margin-block-start: 0.3125rem;
  margin-inline: 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin-block: 0.3125rem;
  margin-inline: auto;
}

.alignright {
  float: right;
  margin-block-end: 1.25rem;
  margin-block-start: 0.3125rem;
  margin-inline-end: 0;
  margin-inline-start: 1.25rem;
}

.alignleft {
  float: left;
  margin-block-end: 1.25rem;
  margin-block-start: 0.3125rem;
  margin-inline-end: 1.25rem;
  margin-inline-start: 0;
}

a img.alignright {
  float: right;
  margin-block-end: 1.25rem;
  margin-block-start: 0.3125rem;
  margin-inline-end: 0;
  margin-inline-start: 1.25rem;
}

a img.alignnone {
  margin-block-end: 1.25rem;
  margin-block-start: 0.3125rem;
  margin-inline-end: 1.25rem;
  margin-inline-start: 0;
}

a img.alignleft {
  float: left;
  margin-block-end: 1.25rem;
  margin-block-start: 0.3125rem;
  margin-inline-end: 1.25rem;
  margin-inline-start: 0;
}

a img.aligncenter {
  display: block;
  margin-inline: auto;
}

.wp-caption {
  background-color: $color-white;
  border: 0.0625rem solid $color-pale-grey;
  max-inline-size: 96%; /* Image does not overflow the content area */
  padding-block-end: 0.625rem;
  padding-block-start: 0.3125rem;
  padding-inline: 0.1875rem;
  text-align: center;

  &.alignnone {
    margin-block-end: 1.25rem;
    margin-block-start: 0.3125rem;
    margin-inline-end: 1.25rem;
    margin-inline-start: 0;
  }

  &.alignleft {
    margin-block-end: 1.25rem;
    margin-block-start: 0.3125rem;
    margin-inline-end: 1.25rem;
    margin-inline-start: 0;
  }

  .alignright {
    margin-block-end: 1.25rem;
    margin-block-start: 0.3125rem;
    margin-inline-end: 0;
    margin-inline-start: 1.25rem;
  }

  img {
    border: 0 none;
    block-size: auto;
    inline-size: auto;
    margin: 0;
    max-inline-size: 98.5%;
    padding: 0;
  }

  p.wp-caption-text {
    font-size: 0.6875rem;
    line-height: 1.0625rem;
    margin: 0;
    padding-block-end: 0.3125rem;
    padding-block-start: 0;
    padding-inline: 0.25rem;
  }
}

.wp-post-image {
  display: block;
}

/* Text meant only for screen readers. */

.screen-reader-text {
  block-size: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  inline-size: 1px;
  overflow: hidden;
  position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: $color-pale-grey;
  block-size: auto;
  border-radius: 0.1875rem;
  box-shadow: 0 0 0.125rem 0.125rem $color-black-60;
  clip: auto !important;
  color: $color-dim-navy;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  inline-size: auto;
  inset-block-start: 0.3125rem;
  inset-inline-start: 0.3125rem;
  line-height: normal;
  padding-block-end: 0.875rem;
  padding-block-start: 0.9375rem;
  padding-inline: 1.4375rem;
  text-decoration: none;
  z-index: 100000; /* Above WP toolbar. */
}
