/*------------------------------------*\
  # SIDEBAR
\*------------------------------------*/

.c-sidebar {
	background-color: var(--c-site-grey);
	color: var(--c-white);
	padding: 1.25rem;

	header {
		display: grid;
		row-gap: 0.25rem;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

	a {
		color: var(--c-white) !important;
		text-decoration: none !important;
	}

	dl {
		display: block;
	}

	dd {
		margin-inline-start: 0;
	}
}
