/*------------------------------------*\
  # FONTS
\*------------------------------------*/

@font-face {
	font-family: 'Pacaembu Black';
	font-display: swap;
	src: url('/fonts/Pacaembu-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'Pacaembu Bold';
	font-display: swap;
	src: url('/fonts/Pacaembu-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Pacaembu Light';
	font-display: swap;
	src: url('/fonts/Pacaembu-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Pacaembu Medium';
	font-display: swap;
	src: url('/fonts/Pacaembu-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Pacaembu Regular';
	font-display: swap;
	src: url('/fonts/Pacaembu-Regular.woff2') format('woff2');
}

:root {
	--black: 'Pacaembu Black', system-ui, sans-serif;
	--bold: 'Pacaembu Bold', system-ui, sans-serif;
	--light: 'Pacaembu Light', system-ui, sans-serif;
	--medium: 'Pacaembu Medium', system-ui, sans-serif;
	--regular: 'Pacaembu Regular', system-ui, sans-serif;
}