/*------------------------------------*\
  # TABLES
\*------------------------------------*/

table {
  border-collapse: collapse;
}

td {
  white-space: nowrap;
}

th {
  font-family: var(--regular);
  font-weight: 400;
}

tbody th {
  font-family: var(--light);
}

caption {
  display: none;
}

tr.is-withdrawn {
  filter: grayscale(100%);
  opacity: 0.5;
}

tr.is-withdrawn td,
tr.is-withdrawn td a {
  text-decoration: line-through;
}