/*------------------------------------*\
  # TABLES
\*------------------------------------*/

table {
	border-collapse: collapse;
}

td {
	white-space: nowrap;
}

th {
	font-family: var(--regular);
}

tbody th {
	font-family: var(--light);
}

caption {
	display: none;
}
