/*------------------------------------*\
  # TABLES
\*------------------------------------*/

table {
  border-collapse: collapse;
}

td {
  white-space: nowrap;
}

th {
  font-family: var(--regular);
  font-weight: 400;
}

tbody th {
  font-family: var(--light);
}

caption {
  display: none;
}

#terminliste .is-canceled,
#terminliste .is-canceled td,
#terminliste .is-abandoned,
#terminliste .is-abandoned td {
  text-decoration: line-through;
}