/*------------------------------------*\
  # TABLES
\*------------------------------------*/

table {
	border-collapse: collapse;
}

td {
	white-space: nowrap;
}

th {
	@include font('Regular');
}

tbody th {
	@include font('Light');
}

caption {
	display: none;
}
