/*------------------------------------*\
  # ELEMENTS
\*------------------------------------*/

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-block-start: 2ex;
}

body {
	font-family: var(--light);
	margin: 0;
}

a {
	color: var(--c-site-grey);
}

dl {
	column-gap: 0.25rem;
	display: grid;
	grid-template-columns: max-content auto;
	row-gap: 0.5rem;
}

dt {
	font-family: var(--regular);
}