/*------------------------------------*\
  # ELEMENTS
\*------------------------------------*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 2ex;
}

body {
  font-family: var(--light);
  margin: 0;
}

a {
  color: var(--c-site-grey);
}

dl {
  column-gap: 0.25rem;
  display: grid;
  grid-template-columns: max-content auto;
  row-gap: 0.5rem;
}

dt {
  font-family: var(--regular);
}

abbr {
  text-decoration: none;
}

.table-scroll {
  -webkit-overflow-scrolling: touch;
  inline-size: 100%;
  margin-block-end: 1em;
  overflow-x: auto;
}

.table-scroll table {
  inline-size: max-content;
  margin: 0;
  min-inline-size: 100%;
}

.c-button {
  background-color: var(--c-site-grey);
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
  font-family: var(--regular);
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  transition: background-color 200ms ease-in-out;
}

.c-button:hover,
.c-button:focus {
  background-color: var(--c-monza);
}

.c-cards + h2 {
  border-block-start: 1px solid var(--c-site-grey-light);
  margin-block-start: 2rem;
  padding-block-start: 2rem;
}
