/*------------------------------------*\
  #MOUSTACHE
\*------------------------------------*/
@charset 'UTF-8';
@import 'settings';
@import 'tools';
@import 'resets';
@import 'base';
@import 'objects';
@import 'components';
@import 'utilities';

.acf-map {
	border: 1px solid #ccc;
	block-size: 25rem;
	inline-size: 100%;
	margin-block: 20px;
	margin-inline: 0;
}

// Fixes potential theme css conflict.
.acf-map img {
	max-inline-size: inherit !important;
}
