/*------------------------------------*\
  # COLORS
\*------------------------------------*/

$c-black: hsl(0 0% 0%);
$c-grey: hsl(0 0% 96%);
$c-mine-shaft: hsl(0 0% 18%);
$c-monza: hsl(357 73% 49%);
$c-white: hsl(0 0% 100%);

$c-site-grey: $c-mine-shaft;
$c-brand-red: $c-monza;
