/*------------------------------------*\
  # FONTS
\*------------------------------------*/

@font-face {
  font-family: 'Pacaembu Black';
  font-display: swap;
  src: url('../fonts/Pacaembu-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'Pacaembu Bold';
  font-display: swap;
  src: url('../fonts/Pacaembu-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Pacaembu Light';
  font-display: swap;
  src: url('../fonts/Pacaembu-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Pacaembu Medium';
  font-display: swap;
  src: url('../fonts/Pacaembu-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Pacaembu Regular';
  font-display: swap;
  src: url('../fonts/Pacaembu-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pacaembu Thin';
  font-display: swap;
  src: url('../fonts/Pacaembu-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Pacaembu Ultra';
  font-display: swap;
  src: url('../fonts/Pacaembu-Ultra.woff2') format('woff2');
}
